{% extends 'login_base.html' %} {% from "security/_macros.html" import
render_field, render_field_with_errors, render_checkbox_field %} {% include
"security/_messages.html" %} {% block content%} {{ super() }}

<div class="login-form-bg h-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-xl-6">
        <div class="form-input-content">
          <div class="card login-form mb-0">
            <div class="card-body pt-5">
              <a class="text-center" href="#"> <h4>SIGN UP</h4></a>

              <form
                class="mt-5 mb-5 login-input"
                method="POST"
                action="{{ url_for_security('register') }}"
                name="register_user_form"
              >
                <div class="form-group">{{ register_user_form.hidden_tag()}}</div>
                <div class="form-group">
                  {{ render_field_with_errors(register_user_form.first_name,
                  class="form-control" ) }}
                </div>
                <div class="form-group">
                  {{ render_field_with_errors(register_user_form.last_name,
                  class="form-control" ) }}
                </div>
                <div class="form-group">
                  {{ render_field_with_errors(register_user_form.email,
                  class="form-control" ) }}
                </div>
                <div class="form-group">
                  {{ render_field_with_errors(register_user_form.password,
                  class="form-control") }}
                </div>
                <div class="form-group">
                  {% if register_user_form.password_confirm %}
                  {{ render_field_with_errors(register_user_form.password_confirm) }}
                  {% endif %}
                </div>
                {{ render_field(register_user_form.submit, class="btn
                login-form__btn submit w-100") }}
              </form>
              <p class="mt-5 login-form__footer">
                Already have account?
                <a href="{{url_for('security.login')}}" class="text-primary"
                  >Sign In</a
                >
                now
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
